
.main-title {
    text-align: center;
}

main {
    display: flex;
}

form {
    border: 1px solid;
    padding: 12px;
    background-color: aliceblue;
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: none;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-cornsilk {
    background-color: cornsilk;
}

.bg-reset {
    background-color: red;
    color: white;
}

input {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

.input-text {
    width: 100%;
}

footer {
    text-align: center
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}

#hasil-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 12px;
    /*border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    */
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }

  #hasil-title > span {
    grid-column: 1;
  }

  #hasil-title > br {
    grid-column: 2;
  }

  .hasil-akhir {
    align-content: center
  }
  
  #keterangan {
    font-size: 14px;
  }

  